<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/pay.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div th:insert="~{header::header}"></div>



    <form action="#" class="myform" method="post">
        <h2>Paying page</h2>
        <hr>

        <label>Credit Card Number</label>
        <input type="text" class="form-control col-5">
        <br>
        <label>Expiry Date</label>
        <input type="text" class="form-control col-5">
        <br>
        <label>First Name</label>
        <input type="text" class="form-control col-5">
        <br>
        <label>Last Name</label>
        <input type="text" class="form-control col-5">
        <br>
        <label>CVV</label>
        <input type="text" class="form-control col-5">
        <br>
    </form>

    <form action="http://localhost:8080/renting/success" >
        <input type="submit" value="Pay Now" class = "btn btn-info pay"/>
    </form>

    <div th:insert="~{footer::footer}"></div>

</body>
</html>