<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Printbill</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/printbill.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div th:insert="~{header::header}"></div>
    <hr class="hrr">
    <h5 th:inline="text" class="title"> First Name : &nbsp; [[${customer.firstname}]] </h5>
    <h5 th:inline="text" class="title">   Last Name : &nbsp; [[${customer.lastname}]] </h5>
    <h5 th:inline="text" class="title">   Phone : &nbsp; [[${customer.phone}]] </h5>
    <h5 th:inline="text" class="title">   Email : &nbsp; [[${customer.email}]] </h5>
    <h5 th:inline="text" class="title">   Address : &nbsp; [[${customer.address}]] </h5>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <th>
                Car
            </th>
            <th>
                Price
            </th>
            <th>
                Number of days
            </th>
            <th>
                Confirmation
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
            <tr th:each="a:${park}">
                <td th:text="${a.key.name}"></td>
                <td th:text="${a.key.value}"></td>
                <td th:text="${a.value}"></td>
                <td th:with="result=${a.key.value}*${a.value}">
                    <span th:inline="text">&#10003</span>
                </td>
                <td>
                    <a class="btn btn-danger del"> Delete </a>
                </td>

            </tr>

            <tr>
                <td colspan="4" style="font-size:18px;text-align:center;font-weight:bold;">
                    Total Amount to pay
                </td>
                <td th:inline="text" style="font-weight:bold;font-size:18px;">
                    [[${total}]]
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{rent(customer=${customer.lastname})}" class="btn btn-dark back">
        Back
    </a>

    <form action="http://localhost:8080/renting/pay" >
        <input type="submit" value="Pay" class = "btn btn-primary pay"/>
    </form>

    <div th:insert="~{footer::footer}"></div>
</body>
</html>