.myform {
    margin-left: 25px;
}

.success {
    margin-left: 25px;
    border-radius: 40px;
    margin-left: 915px;
}

.hh1 {
    margin-top: 250px;
    margin-left: 575px;
    font-size: 6em;
    margin-bottom: 0px;
    color: #fff;
}
